/* *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} */


html {
    /* box-sizing: inherit; */
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 50;
}

header {
    background-color:white;
    position: relative;
    padding: 1rem;
    height: 50px;
}
nav a {
    color: black;
    text-decoration: none;
    font-size: small;
    row-gap: 50px;
    
}
nav ul {
    list-style-type: none;
    position: absolute;
    top: 0.7rem;
    left: 1rem;
}

.nav_links {
    display: inline; 
    margin-left: 1.0rem;  
}

.nav_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo_wrapper{
    align-items: center;
    font-size: small;
    
} 
    
.logo_wrapper_image{
    display: inline;
    width: 25px;    
}    

.search_bar input[type="text"]{
    display: grid;
    position: relative;
    left: 5px;
    top: 20px;
}

.home {
    background-image: url("assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg");
    background-size: cover;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    font-size: 25px;
}
.home_one {
    display: grid;
    align-items: center;
    position: relative;
    left: 100px;
    top: 100px;
  
}
.home_two {
    display: grid;
    align-items: center;
    position: relative;
    left: 600px;
    top: 50px;
}

h2 {
    position: relative;
    left: 75px;
}

.about_container{
    display: grid;
    
    

}
.about_one_image{
    width: 500px;
    height: auto;

}

.about_two_image{
    width: 250px;
    height: auto;
}

.product_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 65px;
    row-gap: 70px;
    text-decoration: none;
}

.product_image{
    width: 200px;
    height: 180px;
}

.hr_product{
    width: 30%;
    border: 2px solid black;
    text-decoration: none;
}

.add_to_cart_button{
    background-color: #bf7631;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.message_box {
    width: 700px;
    height: 200px;
}
 
.contact_container{
    justify-content: center;

}